html{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

body{
    background-image: url(img/FondoTabogo.jpg);
    background-size: 100%
}

section{
    background-color: #3b3d3f3f;
    color: rgb(255, 255, 255);
    padding: 2rem 6rem;
    height: 150px;
    text-align: center;
    padding-top: 0px;
}

.column{
    background-color: #3b3d3f86;
    padding-top: 10px;
    text-align: center;
    border-radius: 50px;
}

.column h1{
    margin-bottom: 0;
    margin-top: 1%;
}

.column p{
    margin-top: 0px;
    
}

.container{
  width: auto;
  text-align:center;
}

.login{
    /*background-color: #3b3d3f79;*/
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
  padding-bottom: 50px;
}

.login2{
    background: rgb(97, 5, 5, 0.384);
    width: 35%;
    height: 55%;
    color: white;
    margin-top: 4%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 25px;

}

div {
    text-align: center;
}

.title{
    font-size: 5em;
}

.login3{
    margin-top: 0%;
}

.atajos{
    display: inline-block;
    margin: 1%;
    color: white;
}

.header1{
    text-align: right;
    padding-right: 5%;
}

.atajos:hover{
    color: rgb(188,188, 188);
}

.inicio{
    border-radius: 5px;
}